<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawler</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>

    <div class="menu">

      <form action="/list/create" method="POST">

        <h2>Digite a Quantidade de Paginas que quer pesquisar:
          <input type="number" name="numberpage">
          <button class="button" type="submit">Pesquisar</button>
        </h2>

      </form>

    </div>
  </body>
</html>